<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0 ,maximum-scale=1.0,
          maximum-scale=1.0,user-scalable=no" />
    <link href="index1.css" rel="stylesheet" />
</head>
<body>
    <div class="g-container">
        <div class="g-view-container">
            <header class="header">
                <div class="header-box">
                    <div class="select-city">
                        <i class="icon icon-location "></i>
                        <span class="select-name">郑州市</span>
                        <i class="icon icon-right-arrow"></i>
                    </div>
                    <div class="search-box">
                        <i class="icon icon-search"></i>
                        <input type="text" class="search-input" placeholder="鸡翅" />
                    </div>
                </div>
            </header>

            <nav class="home-swiper-containe">
                <div class="swiper-container">
                    <div class="swiper-wrapper"></div>
                </div>
            </nav>
            <p class="pshop">-----附近商家-----</p>
            <div class="home-merchants-content">
                <ul id="ul" class="store-list"></ul>
            </div>
        </div>
        <div class="g-footer-container hairline-top"></div>
    </div>
    <script src="../../common/js/vender/axios.min.js"></script>
    <script src="index1.js" type="module">
    </script>
</body>
</html>