<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0 ,maximum-scale=1.0,
          minimum-scale=1.0,user-scalable=no" />
    <link href="index.css" rel="stylesheet" />
    <link href="../../common/css/_mixins.css" rel="stylesheet" />
</head>
<body>
    <div class="s-container">
        <div class="s-view-container">
            <header class="s-header  hairline-bottom"></header>
            <nav class="s-nav"></nav>
            <main class="s-view-food">
                <div class="s-view-food-left">
                </div>
                <div class="s-view-food-rights">
                </div>
            </main>
        </div>

        <div class="s-footer-container">
        </div>
    </div>

    <script src="index.js" type="module">
    </script>
    <script src="../../common/js/vender/axios.min.js"></script>
</body>
</html>