html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

.toast {
    width: 50%;
    height: 5%;
    font-size: .26rem;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
    background: rgba(0,0,0,.4);
    color: #fff;
    text-align: center;
    padding: 5% 0% 0% 0%;
    transform: translate3d(-50%,-50%,0);
    border-radius: 0.1rem;
    transition: all 0.3s;
    opacity: 0;
    z-index: --var(--z-index--hide);
}

    .toast.show {
        z-index: var(--z-index--toast);
        opacity: 1;
    }

/*总弹框样式*/
.contoast {
    z-index: 11;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 80%;
    height: 20%;
    box-shadow: 0 0 3px rgba(0,0,0,0.6);
}
/*文本样式*/
.contoast-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 80%;
    height: 30%;
}
/*总确认取消样式*/
.submits {
    position: absolute;
    display: flex;
    top: 65%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    width: 80.5%;
    height: 25%;
}

.contoast.show {
    z-index: var(--z-index--toast);
    opacity: 1;
}