html,
body {
    height: 100%;
    /*不允许放大缩小*/
    overflow: hidden;
    position: relative;
    /*最大宽度*/
    max-width: 670px;
    /*居中*/
    margin: 0 auto;
    /*字体样式*/
    font-size: var(--font-size-normal);
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
